venv/

#cowrie
cowrie_analysis/logs/
cowrie_analysis/GeoLite2-Country.mmdb
cowrie_parsed_full.csv

#santrypeer
santrypeer_analysis/logs/
santrypeer_analysis/GeoLite2-Country.mmdb

#tanner
tanner_analysis/logs/
tanner_analysis/GeoLite2-City.mmdb

